.container {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 8px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
}
.selector {
  display: flex;
  justify-content: space-around;
}
.selector div {
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.login {
  border-bottom: 4px solid rgb(39, 104, 244);
  color: rgb(39, 104, 244);
}
.signup {
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.signup:hover {
  color: rgb(39, 104, 244);
  transition: color 0.35s;
}
.form {
  border: 1px solid rgb(171, 171, 171);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  line-height: 0;
}
.emailClass {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.emailClass label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.email {
  margin: 5px;
  padding: 5px;
  height: 30px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
.email:focus,
.email:active {
  outline: none;
  border: 1px solid rgb(39, 104, 244);
  transition: border, box-shadow 0.25s;
  box-shadow: 0px 0px 3px 1px rgb(39, 104, 244);
}
.passwordClass {
  display: flex;
  flex-direction: column;
}
.pwd {
  display: flex;
  justify-content: space-between;
}
.forgetpassword {
  margin-right: 10px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  color: rgb(39, 104, 244);
}
.forgetpassword:hover {
  color: red;
  text-decoration: underline;
}
.passwordClass label {
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;

}
.password {
  margin: 5px;
  padding: 5px;
  height: 30px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
}
.password:focus,
.password:active {
  outline: none;
  border: 1px solid rgb(39, 104, 244);
  transition: border, box-shadow 0.25s;
  box-shadow: 0px 0px 3px 1px rgb(39, 104, 244);
}
.action {
  width: 100%;
  text-align: center;
}
.button {
  background-color: rgb(39, 104, 244);
  outline: none;
  border: none;
  margin: 10px;
  height: 40px;
  width: 130px;
  color: aliceblue;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(80, 128, 232);
}
.account {
  text-align: center;
  margin: 10px;
}
.signUp {
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  font-style: italic;
  text-decoration: none;
  color: rgb(80, 133, 246);
}
.signUp:hover {
  color: rgb(39, 104, 244);
  transition: color 0.35s;
  text-decoration: underline;
}
.errortext {
  color: red;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  margin-left: 8px;
  line-height: 1;
}
